<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1062198489489-supfjo9e1crd37joicvc9g39rf990at4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1062198489489-supfjo9e1crd37joicvc9g39rf990at4</string>
	<key>API_KEY</key>
	<string>AIzaSyCRTFi2DL6DE13-pM5oc2d7kA8ZaUBfDIU</string>
	<key>GCM_SENDER_ID</key>
	<string>1062198489489</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>shop.mtcoding.riverpodFirestoreStream</string>
	<key>PROJECT_ID</key>
	<string>riverpod-firestore-strea-4e9da</string>
	<key>STORAGE_BUCKET</key>
	<string>riverpod-firestore-strea-4e9da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1062198489489:ios:a696275123bf245619aa30</string>
</dict>
</plist>